<div class="colone">
	<h2>Sign In</h2>
	<div class="formdiv">
		<%= form_tag do %>
			<%=label_tag :email, "Email" %>
			<br>
			<%= text_field_tag :email %>
			<br>
			<%= label_tag :password, "Password" %>
			<br>
			<%= password_field_tag :password %>
			<br>
			<%= submit_tag "Sign In", class: "submit", data: {disable_with: "Submitting..."} %>
		<% end %>
	</div>
</div>
<div class="clear">
</div>