<% if current_user && current_user.admin == true %>
	<span class="color"><h2>Search for Product Location by Name</h2></span>
	<div class="formdiv">
		<%= form_tag "/locations/search", method: "get" do %>
			<%= label_tag :query, "Location Name:" %>
			<br>
			<%= text_field_tag :query %>
			<br>
			<%= submit_tag "Search", :class => "submit", data: {disable_with: "Submitting..."} %>
		<% end %>
	</div>
	<br>
	<% if @locations.first %>
		<span class="color"><h3>Results:</h3></span>
		<% @locations.all.each do |location| %>
			<%= link_to location.product.name, category_product_path(location.product.category.id, location.product.id) %>
			<br>
			Location: <span class="color"><%= location.location %></span>
			<br>
			<%= image_tag location.product.image.url(:medium) %>
			<br><br>
		<% end %>
	<% end %>
<% end %>