<!DOCTYPE html>
<html>
	<head>
	  <title>Aleksandra Kolanko Inventory</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link rel="shortcut icon" href="/assets/faviconAleksandra.ico" >
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><%= link_to "Aleksandra Kolanko Inventory", root_path %></h1>
				<% if current_user && current_user.admin == true %>
					<div id="nav">
						<ul id="menu">
								<li class="menu_item">
									<%= link_to "Categories", categories_path %>
								</li>
								<li class="menu_item"><a href="#">Products</a>
									<ul>
										<li>
											<%= link_to "All Products", products_path %>
										</li>
										<li>
											<%= link_to "In Stock", instock_path %>
										</li>
										<li>
											<%= link_to "Sold Out", soldout_path %>
										</li>
										<li>
											<%= link_to "Search", tags_search_path %>
										</li>
									</ul>
								</li>
								<li class="menu_item"><a href="#">Sales</a>
									<ul>
										<li>
											<%= link_to "All Sales", sales_path %>
										</li>
										<li>
											<%= link_to "Search", sales_search_path %>
										</li>
									</ul>
								</li>
								<li class="menu_item"><a href="#">Listings</a>
									<ul>
										<li>
											<%= link_to "All Listings", listings_path %>
										</li>
										<li>
											<%= link_to "Search", listings_search_path %>
										</li>
									</ul>
								</li>
								<li class="menu_item"><a href="#">Locations</a>
									<ul>
										<li>
											<%= link_to "All Locations", locations_path %>
										</li>
										<li>
											<%= link_to "Search", locations_search_path %>
										</li>
									</ul>
								</li>
								<li class="menu_item"><a href="#">Users</a>
									<ul>
										<li>
											<%= link_to "My Account", user_path(current_user.id) %>
										</li>
										<li>
											<%= link_to "New User", new_user_path %>
										</li>
										<li>
											<%= link_to "All Users", users_path %>
										</li>
									</ul>
								</li>
								<li class="menu_item">
									<%= link_to "Sign Out", signout_path, method: :delete %>
								</li>
						</ul>
					</div>
				<% end %>
			</div>
			<div id ="content">
				<% if flash[:notice] %>
					<div class="flash">
						<%= flash[:notice] %>
					</div>
				<% end %>
				<% if flash[:alert] %>
					<div class="flash">
						<%= flash[:alert] %>
					</div>
				<% end %>
				<%= yield %>
			</div>
			<div id="footer">
				<div id="left">
					<span class="numbers">&copy 2014</span> Aleksandra Kolanko
				</div>
				<div id="right">
					<%= link_to "aleksandrakolanko.com", "http://www.aleksandrakolanko.com" %>
				</div>
			</div>
		</div>
	</body>
</html>
